.top-followers {
  background-color: #000;
  border-radius: 8px;
}

.top-followers h3 {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #fff;
}

.top-followers ul {
  list-style: none;
  padding: 0;
}

.top-followers ul li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #fff;
}
