.app {
  max-width: 860px;
  padding: 20px;
  margin: 0 10%;
  margin-top: 50px;
  background-color: #000000;
}

.header {
  width: 100%; 
}

.main-content {
  display: grid;
  grid-template-columns: 6fr 3fr; 
  gap: 30px;
  margin-top: 20px;
}

.xscore,
.top-followers {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}
