/* App.css */

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.app {
  max-width: 860px;
  padding: 20px;
  background-color: #000;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(128, 128, 128, 0.5);
}

.header {
  width: 100%;
}

.navigation {
  margin-top: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 30px;
  margin-top: 20px;
}

